:80
log {
	output file /var/log/caddy.log {
		roll_size 1mb
		roll_keep 10000 # unlikely to be reached
		roll_keep_for 24h # this is the important limit
	}
    }

redir /api /api/
reverse_proxy /api/*  api:80
reverse_proxy /swaggerui/* api:80
header {
	Access-Control-Allow-Origin *
	Access-Control-Allow-Headers *
}

file_server /* {
  root /frontend/
  hide .git Dockerfile

}
