version: "3.8"
services:
  cm-multiply:
    build:
      context: ./cm
      dockerfile: example_multiply/Dockerfile
    environment:
      UPLOAD_DIR: /upload-dir
    volumes:
      - upload-data:/upload-dir
    env_file:
      .env

  cm-empty:
    build:
      context: ./cm
      dockerfile: example_empty/Dockerfile
    environment:
      UPLOAD_DIR: /upload-dir
    volumes:
      - upload-data:/upload-dir
    env_file:
      .env

  frontend:
    build:
      context: ./frontend
    ports:
      - "127.0.0.1:7000:80"
    restart: always
    env_file:
      .env

  api:
    build:
      context: ./api
    ports:
      - "127.0.0.1:9000:80"
    restart: always
    depends_on:
      - "db"
    environment:
      UPLOAD_DIR: /upload-dir
    volumes:
      - upload-data:/upload-dir
    env_file:
      .env

  db:
    build:
      context: ./db
    ports:
      - "127.0.0.1:5433:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    # Fast Shutdown mode
    # see https://github.com/docker-library/postgres/issues/714
    stop_signal: SIGINT
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      .env

  data-integration:
    build:
      context: ./data-integration
    volumes:
      - data:/data
    env_file:
      .env

  redis:
    image: redis:6-alpine
    ports:
      - "127.0.0.1:6379:6379"
  flower:
    image: mher/flower:0.9.4
    ports:
      - "127.0.0.1:5555:5555"
    env_file:
      .env

volumes:
  upload-data:
  db-data:
  data:
