version: "3.8"
services:

  frontend:
    build:
      context: ./frontend
    ports:
      - "127.0.0.1:7000:80"
    restart: always
    depends_on:
      - "api"
    volumes:
      - caddy-data:/data
      - caddy-config:/config
    env_file:
      .env

  api:
    build:
      context: ./api
    ports:
      - "127.0.0.1:9000:80"
    restart: always
    environment:
      WMS_CACHE_DIR: /wms_cache
      CM_OUTPUTS_DIR: /cm_outputs
      FILTER_DATASETS: 1
    depends_on:
      - redis
    volumes:
      - wms_cache:/wms_cache
      - cm_outputs:/cm_outputs
    env_file:
      - .env
      - .env-db-server

  redis:
    image: redis:6-alpine
    ports:
      - "127.0.0.1:6379:6379"
    restart: always
    volumes:
      - redis-data:/data

  flower:
    image: mher/flower:0.9.4
    ports:
      - "127.0.0.1:5555:5555"
    depends_on:
      - redis
    restart: always
    volumes:
      - flower-data:/data
    env_file:
      .env

  cm-heat-demand:
    build:
      context: ./cm
      dockerfile: cm_heat_demand/Dockerfile
    environment:
      WMS_CACHE_DIR: /wms_cache
    depends_on:
      - redis
    restart: always
    volumes:
      - wms_cache:/wms_cache:ro
    env_file:
      .env

  cm-multiply:
    build:
      context: ./cm
      dockerfile: example_multiply/Dockerfile
    environment:
      WMS_CACHE_DIR: /wms_cache
    depends_on:
      - redis
    restart: always
    volumes:
      - wms_cache:/wms_cache:ro
    env_file:
      .env

  cm-empty:
    build:
      context: ./cm
      dockerfile: example_empty/Dockerfile
    environment:
      WMS_CACHE_DIR: /wms_cache
    depends_on:
      - redis
    restart: always
    volumes:
      - wms_cache:/wms_cache:ro
    env_file:
      .env

  cm-heatlearn:
    build:
      context: ./
      dockerfile: ./cm/heatlearn/Dockerfile
    environment:
      GEODB_DIR: /geodb
      CM_OUTPUTS_DIR: /cm_outputs
    depends_on:
      - redis
    restart: always
    volumes:
      - geodb:/geodb:ro
    env_file:
      .env

volumes:
  wms_cache:
  cm_outputs:
  caddy-data:
  caddy-config:
  redis-data:
  flower-data:
