# This requirements file is read by the setup.py,
# It doesn't support fetching directly from an arbitrary
# url
marshmallow==3.9.1
marshmallow-union==0.1.15.post1
jsonschema==3.2.0
celery==5.0.2
redis==3.5.3
geojson==2.5.0
shapely==1.8.0
rasterstats==0.16.0
requests==2.26.0
pyproj==3.3.0
