{
  'env': {
    'browser': true,
    'es2021': true,
  },
  'extends': [
    'google',
  ],
  'parserOptions': {
    'ecmaVersion': 12,
    'sourceType': 'module',
  },
  'rules': {
  	'max-len': [1, 88, 2, {
  	  "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
  	  "ignoreUrls": true
  	}],
    'require-jsdoc': "off"
  },
  plugins: [
    'svelte3'
  ],
  overrides: [
    {
      files: ['*.svelte'],
      processor: 'svelte3/svelte3'
    }
  ],
  ignorePatterns: ["public", "scripts/setupTypeScript.js"],
}
