flask==2.0.3
flask-restx==0.5.1
lxml==4.6.5
Pillow==9.0.1
requests==2.25.1
celery==5.2.2
redis==3.5.3
OWSLib==0.20.0
psycopg2==2.8.6
numpy==1.22.1
pandas==1.4.0
seaborn==0.11.1
gdal==3.0.4
numpy==1.22.1
click==8.1.0
werkzeug==2.1.2